.container
  p
    a([routerLink]="['/rxdemo']") 简单示例
    | &nbsp;
    a([routerLink]="['/observable']") observable
    | &nbsp;
    a([routerLink]="['/subject']") subject
    | &nbsp;
    a([routerLink]="['/operators']") operators
  router-outlet