h3 例1:
p 自定义操作符:创建一个自定义操作符函数，它将从输入 Observable 接收的每个值都乘以10
p
  button.btn.btn-default((click)="onRun1()") 执行
hr
h3 例2:
p  操作符链式示例 .from.filter.map.
p
  button.btn.btn-default((click)="onRun2()") 执行
hr
h3 例3:
p 事件监听常用操作符
p 普通编辑框,原始事件:
  input(#input1='',(input)="onInputByInput1(input1.value)")
p 普通编辑框,Rx监听事件:
  input(#input2='')
p angular编辑框,angular响应式监听事件:
  input([formControl]="input3")