h3 例1:
p 简单Subject 与 Observable 的对比
p
  button.btn.btn-default((click)="onRun1()") 执行
  | &nbsp;
  button.btn.btn-default((click)="onRun1Diff()") 执行Observable
hr
h3 例2:
p 通过 Subject 将单播的 Observable 执行转换为多播
p
  button.btn.btn-default((click)="onRun2()") 执行

